* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 54%, 90%)
}

.recipe-container {
    border-radius: 22px;
    background-color: hsl(0, 0%, 100%);
    width: 717px;
    height: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recipe-container img {
    width: 87%;
    height: auto;
    max-width: 87%;
    display: block;
    margin: 36px auto;
    border-radius: 12px;
}

.preparation-time {
    margin: 0 auto;
    width: 67%;
}

.omelette-recipe {
    width: 87%;
    margin: 0 auto;
}

.omelette-recipe h1 {
    margin-bottom: 16px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
}

.omelette-recipe p {
    width: 108%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.preparation {
    margin: 0 auto;
    width: 81%;
    margin-top: 34px;
    color:hsl(332, 51%, 32%);
    padding: 20px;
}

.preparation-time ul li {
    padding-left: 25px; 
    margin-top: 5px;
}

.preparation-container {
   background-color: hsl(330, 100%, 98%);
    width: 87%;
    margin: 0 auto;
    height: 160px;
}

.ingredients-container {
    width: 87%;
    margin: 0 auto;
}

.ingredients-title {
    margin-top: 30px;
    font-family: "Young Serif", serif;
    font-optical-sizing: auto;
    color: hsl(14, 45%, 36%);
    font-weight: 400;
}

.ingredients ul li {
    margin-left: 22px;
    padding-left: 14px;
}